<!--<div class="container">
    <div class="row">
        Radio Silence est une Web Radio Gratuite proposant des bruit blanc et son de silence.<br>
        Vous pouvez l'écouter pendent que vous travaillez ou que vous effectuez des activité qui demande de la concentration ou simplement pour supprimer les accouphenes.<br>
        Le bruit blanc stimule le marteau de l'oreil vous permetant ed ne plus entendre ce désagréable sifflement.<br>
        <h3>Qui sommes nous?</h3>
        <p>Nous sommes une bandes d'habitant de l'internet aimant crée des projet divers et varier, Sirius a Crée Cloudsdale Group en 2017 afin de regrouper ses web radio.<br>
        Lors d'une soiré avec Green il a eu l'idée de crée une radio qui diffuserais du silence, et forcement ils l'ont crée.</p>
    </div>
</div>-->

<h1 class="text-center">PAGE EN CONSTRUCTION</h1>