<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="text-center"> {{ message }} </h1>
      <h3 class="text-center"> {{ error.status }} </h3>
      <img class="rounded" src="http://cdn.Asthriona.com/v9iflkC.gif" alt="idk dude, bouge ta souris! :c">
    </div>
  </div>
</div>
<p>&nbsp;</p>