<p>&nbsp;</p>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <h1>Bienvenue sur Radio Silence!</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="Player">
            <h2>Station 1</h2>
            <iframe class="hoverable" src="https://code02.cloudsdaleradio.com/public/2/embed" frameborder="0" allowtransparency="false" style="width: 70%; min-height: 100%; border: 1; position:relative; top: 40px; left: 20px;" scrolling="no"></iframe>
            

    </div>

    </div>
    <div class="col-sm-6">      
      <p>
        <h2>écouter via d'autres players ?</h2><br>
        <p>&nbsp;</p>
        <div class="btn-group" role="group">
          <a id="listen" class="btn btn-light " href="#" onclick="window.open('https://radiosilence.fr/radio', 'newwindow', 'width=380, height=675'); return false;">Popup</a>
          <a id="listen" class="btn btn-light " href="#" onclick="window.open('https://localhost:3000/radio', 'newwindow', 'width=380, height=675'); return false;">Popup Dev</a>
          <a href="https://code02.cloudsdaleradio.com:8010/stream/1/" target="blank" class="btn btn-light ">Navigateur</a>
          <a href="https://cdn.cloudsdalegroup.com/rs/# rel="noreferrer"" target="_blank" class="btn btn-light ">Fichier</a>
        </div>
      </p>     
    </div>
    </div>
    </div> 
    
    <p>&nbsp;</p>