<!-- SHHHHHHHHHHHT! :)-->
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <!--Custom-->
    <link rel="stylesheet" href="https://cloudsdaleradio.com/stylesheets/bar-ui.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- META SAMER (crie pas stp...)-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="La seul radio silencieuse.">
    <meta name="author" content="Cloudsdale Group">
    <!--Twitter card-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@RadioSilence" />
    <meta name="twitter:title" content="Radio Silence" />
    <meta name="twitter:description" content="La seul radio silencieuse." />
  </head>
  <body>
    <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/planning">Planning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">A propos</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Ecoute</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/radio">Popup</a>
            <a class="dropdown-item" href="//cdn.cloudsdalegroup.com/rs/#">Fichier</a>
            <a class="dropdown-item" href="http://code02.cloudsdaleradio.com:8010/radio.mp3?1571337415">Navigateur</a>
          </div>
        </li>

      </ul>
  </nav>
  <!--/.Navbar-->
    {{{body}}}
    <!--Silent foot step-->
<div class="footer">
          <div class="row">
            <nav role="navigation" class="offset-md-1 col-md-5">
              Copyright <a href="http://www.copyrighted.com/copyrights/view/gahl-yxox-vlsm-deb9">&copy; Radio Silence</a> 2019 - Tous droits réservés<br>
              Copyright &copy; Site developpé par Cloudsdale Group • Version 1.0 <span class="beta">BETA</span> <br> Radio Silence est une filiale Cloudsdale Group<br>
              <a href="/site-map">Site Map</a> • <a href="/changelogs">Changes Logs</a> • <a href="/server">Serveurs</a> • <a href="/staff">Staff</a> • <a href="http://status.cloudsdalegroup.com">Status des services</a> • <a href="/humans.txt"> <img alt="humans.txt" src="https://cloudsdaleradio.com/images/humans.png"> </a><br>
              <a href="#/faq">FAQ</a> • <a href="/privacy">Vie Privée</a>
            </nav>
            <div class="offset-md-3 col-md-2">
              <div class="copyright">
              Powered by <a href="http://CloudsdaleGroup.com">CloudsdaleGroup</a><br>
              <a href="http://norme.nitrogroup.fr/rer-d/"><img src="https://img.shields.io/badge/Norme-RER--D-green.svg"alt="Norme RERD"></a><br>
              <br><a href="https://www.patreon.com/bePatron?u=14573301" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
              </div>
            </div>
          </div>
        </div>
    
    <!--Silent JS script-->
    <script src="https://cloudsdaleradio.com/javascripts/shoutcast.js"></script>
    <script src="https://cloudsdaleradio.com/javascripts/sm2/bar-ui.js"></script>
    <script src="https://cloudsdaleradio.com/javascripts/sm2/soundmanager2.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
  </body>
</html>
