<div class="container">
    <div class="row">
    <h1 class="text-center">PLANING:</h1><br>
    </div>
    <div class="row">
            <h3>Du ludin 00h au dimanche 23:59 -> SILENCE.</h3>
            
    </div>
</div>
<center>
    <br>
<img class="rounded" src="http://cdn.Asthriona.com/v9iflkC.gif" alt="idk dude, bouge ta souris! :c">
</center>