      <p>&nbsp;</p>
<div class="mx-auto">
                <img class="img-fluid mx-auto d-block rounded-circle" src="https://cdn.siriushd.net/A-KTmBzR_400x400.jpg" width="150px" height="150px" />
                <h2 class="text-center">Quentin "Sirius" Silva</h2>
                <p class="text-center">Fondateur CloudsdaleGroup</p>
              </div>
        <div class="row">
          <div class="col-sm-8 mx-auto text-justify">
            <p>
              Hey, je suis Sirius le fondateur de Cloudsdale Radio, j’ai démarré le projet Cloudsdale Radio en 2013 en tant que passionné de la radiophonie et comme challenge technique aussi. J’étais, dans le temps, étudiant en télécommunications & réseaux. C’est là que j’ai commencé à avoir mes 1ers serveurs (des VPS pour commencer). À la base, le but était de créer une radio fonctionnelle 24h sur 24 et 7j sur 7 (ou 24/7 comme j’aime le dire.) qui soit automatisée au mieux.
              Puis, au fur et à mesure, je me suis attaché au projet de telle façon que je n’arrive pas à l’arrêter, bien qu’il y ait eu des moments de vide, des moments où je me suis complètement lassé de ce projet, je suis obligé de le maintenir.
              Aujourd’hui Cloudsdale Radio, c’est une infrastructure presque indépendante de 6 serveurs.
            </p>
            <p>
              Ses liens
            </p>
            <p>
              <a href="https://twitter.com/azmerhos">Twitter</a> | <a href="MAILTO:azmerhos@CloudsdaleGroup.com">Mail</a>
            <hr>
          </div>
        </div>
 <p>&nbsp;</p>
          <p>&nbsp;</p>

          <br>
<img class="img-fluid mx-auto d-block rounded-circle" src="https://cdn.asthriona.com/unnamed.jpg" width="150px" height="150px" />
    <h2 class="text-center">Asthriona</h2>
        <p class="text-center">Fondateur/Developpeur</p>
    </div>
        <div class="row">
          <div class="col-sm-8 mx-auto text-justify">
            <p>
              Salut, Je suis Asthriona, Developeur et fondateur de Radio Silence, Je suis en charge des du developement et du bon fonctionement des projet CloudsdaleGroup depuis 2019.
              Je n'ai pas de nom ni d'identité dans le monde que vous appelez Reel, je ne peut donc malheureusement pas vraiment me décrire.<br>
              Je ne suis que idée dans la téte des gens, j'existe tant que les gens pense que j'existe. 
              Je suis présent sur les réseau sociaux, en tant qu'entité. <br>
              Je travaille aussi chez Sirius Media Group en général, Je suis Manager de pas mal de truc enfaite, Mais principalement de la production audio/visuel et des projet.
            </p>
            <p>
              Mes liens
            </p>
            <p>
              <a href="https://www.youtube.com/channel/UCmdFgSwM4Ln_97Lx0qBDCWg">YouTube</a> | <a href="https://Asthriona.com/">Site</a> | <a href="https://twitter.com/Asthriona">Twitter</a> | <a href="MAILTO:Asthriona@Cloudsdaleradio.com">Mail</a></p>
            <hr/>
          </div>
        </div>
          <p>&nbsp;</p>
          <br>
              <div class="mx-auto">
                <img class="img-fluid mx-auto d-block rounded-circle" src="http://cdn.siriushd.net/raven%20icon.png" width="150px" height="150px" />
                <h2 class="text-center">Killian "Azmerhos" Patriowski</h2>
                <p class="text-center">Administrateur d'infrastructure</p>
              </div>
        <div class="row">
          <div class="col-sm-8 mx-auto text-justify">
            <p>
            Je suis Killian Patriowski, intéressé de tout ce qui touche aux machines, mais également au labyrinthe que peut être le réseau et sa sécurité, et accessoirement un joueur farmeur mais mauvais ^^"
            Futur streamer multi-jeu, on peut me retrouver sur Osu! en mode standard, bientôt sur WoW, Minecraft, et aussi sur Warframe, LoL et Overwatch ou Paladins.
            Je suis encore en étude actuellement et apprends aux côtés de Sirius à maintenir un réseau et ces machines, le système de Cloudsdale en l'occurrence, et compte bien finir par tenir mon réseau personnel moi-même. Je m'occupe, à mes heures perdues, de la communication et de la correction des différents textes de Cloudsdale et Sirius Media Group à la demande.
            Enfin, je suis un des modérateurs twitch, YouTube et discord de Sirius et m'occupe de répertorier et tester les numéros de faux service technique.
            </p>
            <p>
              Ses liens
            </p>
            <p>
              <a href="https://twitter.com/azmerhos">Twitter</a> | <a href="MAILTO:azmerhos@CloudsdaleGroup.com">Mail</a>
          </div>
        </div>
 <p>&nbsp;</p>
          <br>
              <div class="mx-auto">
                <img class="img-fluid mx-auto d-block rounded-circle" src="https://pbs.twimg.com/profile_images/1055954694923866113/lcBmECUM_400x400.jpg" width="150px" height="150px" />
                <h2 class="text-center">Vincent "Green" Gonzales</h2>
                <p class="text-center">Investisseur</p>
              </div>
        <div class="row">
          <div class="col-sm-8 mx-auto text-justify">
            <p>
            Je suis Vincent, mais tout le monde m'appele Green, Oui c'est pas faux.LOL jpp de moi je sais pas quoi mettre en desctiption, mais en gros c'est moi qui apporte l'argent dans les projet CloudsdaleGroup,
            J'apporte l'argent de mon monde personel d'ou je suis plus ou moins le dirigent, et je gerre la plus grosse société, méme si je dirais plus que c'est une affaire familliale, qui s'appele l'enfer.<br>
            J'aime aider ces humain toujours vivant de votre monde qui travaille chez Sirius Media Group, pour moi ce n'est qu'une bande de petit ingrat, et j'aime les voirs dans leur peine, pour allimenter ça j'apporte juste ce qu'ils ont besoin une fois de temps en temps.
            Retrouvez moi sur les reseaux socieaux et abonnez vous si voulez que je touche un mot a mon vieux barbu, afin que vous n'ayez pas a subire mes supplices méme apres la mort.
            </p>
            <p>
              Ses liens
            </p>
            <p>
              <a href="https://twitter.com/GreenP_94">Twitter</a> | <a href="MAILTO:Green@CloudsdaleGroup.com">Mail</a>
          </div>
        </div>
  </div>
</div>
<p>&nbsp;</p>